<h1> <%= motorcycle.bike_name %></h1>
<div id="<%= dom_id motorcycle %>">
     <p>Bike: <%= motorcycle.bike_name %></p>
     <p>Details: <%= motorcycle.details %></p>
     <p>Image <%= motorcycle.image %></p>
</div>